// ###############
@media screen and (min-width: 375px){
    .navbar{
        .nav-container{
            display: none;
        }
        .hamburger{
            display: block;
        }
    }

    .home-section{
        height: 70vh;
        background-image: url('../images/mobile/image-header.jpg');
        h1{
            font-size: 36px;
            text-align: center;
            margin-top: -10rem;
        }
        img{
            // margin-bottom: 40%;
        }
    }
    .services-section{
        .service-container{
            flex-direction: column;

            .egg-box{
                order: 1;
                height: 65vh;
            }
            .transform-box{
                height: 65vh;
                h2{
                    align-self: center;
                    font-size: 2rem;
                    padding-left:  1.5rem;
                    text-align: center;
                }
                p{
                    padding: 2rem 1rem;
                    text-align: center;
                }
                a{
                    align-self: center;
                    padding:1rem 0;
                }
            }

            .glass-box{
                height: 65vh;
            }

            .audience-box{
                height: 65vh;
                h2{
                    align-self: center;
                    font-size: 2rem;
                    padding-left:  1.5rem;
                    text-align: center;
                }
                p{
                    padding: 2rem 1rem;
                    text-align: center;
                }
                a{
                    align-self: center;
                    padding:1rem 0;
                }
            }

            .graphic-box{
                height: 85vh;
                background-image: url('../images/mobile/image-graphic-design.jpg');        
                h3{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 16px;
                    padding:1rem 0.5rem;
                }
            }

            .photography-box{
                height: 85vh;
                background-image: url('../images/mobile/image-photography.jpg');
                h3{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 16px;
                    padding:1rem 0.5rem;
                }
            }
        }
    }

    .testimonials-section{
        height: max-content;
        h3{
            font-size: 18px;
            text-align: center;
            margin-top: 4rem;
        }
        .client-box{
            flex-direction: column;
            .client{
                margin-top: 4rem;
                .client-desc{
                    padding: 0px;
                    padding-left: 4%;
                    padding-right: 4%;
                    margin-top: 3rem;
                    color: var(--very-dark-grayish-blue);
                }
            }
            .client:last-child{
                margin-bottom: 5rem;
            }
        }
    }
    .image-section{
        height: 50vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "one two" "three four";
        justify-content: center;

        .one{
            width: 100%;
            height: 100%;
            background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
            background-size: cover;
        }
        .two{
            width: 100%;
            height: 100%;
            background-image: url(../images/mobile/image-gallery-orange.jpg);
            background-size: cover;
        }
        .three{
            width: 100%;
            height: 100%;
            background-image: url(../images/mobile/image-gallery-cone.jpg);
            background-size: cover;
        }
        .four{
            width: 100%;
            height: 100%;
            background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
            background-size: cover;
        }
    }
    footer{
        .footer-links{
            width: 80%;
        }
        .social-links{
            width: 50%;
        }
    }
}

// ###########
@media screen and (min-width: 667px){
    .navbar{
        .nav-container{
            display: block;
        }
        .hamburger{
            display: none;
        }
    }
    .home-section{
        height: 100vh;
        background-image: url('../images/desktop/image-header.jpg');
        h1{
            font-size: 44px;
        }
        img{
            // margin-bottom: 0;
            margin-top: 0rem;
        }
    }

    .services-section{
        .service-container{
            flex-direction: row;
            .egg-box{
                order: 2;
                height: 65vh;
            }
            .graphic-box{
                height: 80vh;
                background-image: url('../images/desktop/image-graphic-design.jpg');        

                p{
                    font-size: 16px;
                    padding-top: 1.5rem;
                    padding-left: 6rem;
                    padding-right: 6rem;
                }
            }

            .photography-box{
                height: 80vh;
                background-image: url('../images/desktop/image-photography.jpg');
                h3{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 16px;
                    padding-top: 1.5rem;
                    padding-left: 6rem;
                    padding-right: 6rem;
                }
            }
        }
    }
    .testimonials-section{
        height: max-content;
        h3{
            font-size: 26px;

        }
        .client-box{
            flex-direction: row;
            .client{
                margin-bottom: 5rem;
                .client-desc{
                    line-height: 1.2;
                }
            }
            .client:last-child{
                margin-bottom: 5rem;
            }
        }
    }
    .image-section{
        height: 50vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "one two three four";
    }
    footer{
        .footer-links{
            width: 30%;
        }
        .social-links{
            width: 20%;
        }
    }
}
// ###########
@media screen and (min-width: 1199px){
    .navbar{
        .nav-container{
            display: flex;
        }
        .hamburger{
            display: none;
        }
    }
    .services-section{
        .service-container{
            .egg-box{
                height: 80vh;
            }
            .transform-box{
                width: 100%;
                height: 80vh;
                margin-top: 0;
                margin-bottom: 0;
                h2{
                    align-self: flex-start;
                    padding: 1rem 5.5rem;
                    text-align: start;
                }
                p{
                    color: var(--very-dark-grayish-blue);
                    line-height: 1.5;
                    padding: 2.5rem 5.5rem;
                    text-align: start;
                }
                a{
                    align-self: flex-start;
                    padding: 1rem 5.5rem;
                }
            }
            .glass-box{
                width: 100%;
                height: 80vh;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .audience-box{
                width: 100%;
                height: 80vh;
                margin-top: 0;
                margin-bottom: 0;
                h2{
                    align-self: flex-start;
                    padding: 1rem 5.5rem;
                    text-align: start;
                }
                p{
                    color: var(--very-dark-grayish-blue);
                    line-height: 1.5;
                    padding: 2.5rem 5.5rem;
                    text-align: start;
                }
                a{
                    align-self: flex-start;
                    padding: 1rem 5.5rem;
                }
            }
            .graphic-box{
                height: 80vh;
                background-image: url('../images/desktop/image-graphic-design.jpg');        

                p{
                    font-size: 16px;
                    padding-top: 1.5rem;
                    padding-left: 6rem;
                    padding-right: 6rem;
                }
            }

            .photography-box{
                height: 80vh;
                background-image: url('../images/desktop/image-photography.jpg');
                h3{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 16px;
                    padding-top: 1.5rem;
                    padding-left: 6rem;
                    padding-right: 6rem;
                }
            }
        }
    }
    footer{
        .footer-links{
            width: 30%;
        }
        .social-links{
            width: 20%;
        }
    }
}